#define MENU_1	1
#define CM_FILEEXIT	104
#define CM_FILEPREVIOUS_UNIVERSE	103
#define CM_FILENEXT_UNIVERSE	102
MainMenu MENU 
{
 POPUP "File"
 {
  MENUITEM "&Next Universe", CM_FILENEXT_UNIVERSE
  MENUITEM "&Previous Universe", CM_FILEPREVIOUS_UNIVERSE
  MENUITEM SEPARATOR
  MENUITEM "E&xit", CM_FILEEXIT
 }

}
